{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["react-app", "react-app/jest", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "prettier", "unused-imports", "simple-import-sort"],
  "rules": {
    "import/no-duplicates": ["error", { "considerQueryString": true }],
    "simple-import-sort/imports": "warn",
    "unused-imports/no-unused-imports": "warn",
    "prettier/prettier": ["warn", { "endOfLine": "auto" }],
    "import/first": "off",
    "no-fallthrough": "off",
    "no-unused-vars": "warn",
    "no-console": "warn",
    "jsx-quotes": "off",
    "prefer-const": "off",
    "no-tabs": "error",
    "curly": "off",
    "react/react-in-jsx-scope": "off",
    "no-mixed-spaces-and-tabs": "error",
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": true,
        "shorthandFirst": true,
        "noSortAlphabetically": false,
        "reservedFirst": true
      }
    ]
  }
}
